@use 'sass:map';
@import 'variables.scss';

section#classes
{
    max-width:1200px;
    padding:0 20px;

    header
    {
        display: flex;
        justify-content: space-between; align-items: center;
    }

    .search
    {
        position: relative;
        width:40%; height:42px;
        border:1px solid map.get($theme-colors, 'secondary'); border-radius:8px;

        form
        {
            height:100%;
        }
        input[type='search']
        {
            padding:2px 36px 0 40px;
            width:100%; height:100%;
            background-color:transparent;
            border:none;
            outline-color: map.get($theme-colors, 'highlight');

            &::-webkit-search-cancel-button
            {
                display: none;
            }
        }
        button[type='submit']
        {
            svg
            {
                position: absolute;
                top:9px; left:9px;
                width:22px; height:22px;
                fill:#AAA;
            }
        }
        button[type='reset']
        {
            svg
            {
                position: absolute;
                top:14px; right:12px;
                width:12px; height:12px;
                fill:#AAA;
            }
        }
        
        ::placeholder
        {
            color: #AAA;
        }
    }

    .classes
    {
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: auto;
        gap: 30px;
        margin:0 0 40px 0;

        .class
        {
            position: relative;
            overflow: hidden;
            border-radius:8px;
            color: #FFF;
            cursor: pointer;

            img
            {
                display: block;
                width:100%;
                object-fit: cover;
            }

            .progress
            {
                position: absolute;
                bottom:0; left:0;
                width:100%; height:6px;
                text-indent: -99999px;
                background-color:rgba(0,0,0,.1);

                div
                {
                    width: 20%; height:100%;
                    background-color: map.get($theme-colors, 'highlight');
                }
            }

            h2
            {
                position: absolute;
                top:0; left:0;
                padding:10px 12px;
                font-size:.8em; font-weight:600;
            }
            .metadata
            {
                position: absolute;
                bottom:6px; left:0;
                padding:12px 16px;

                div
                {
                    font-size:.65em; font-weight:300;
                }
                strong
                {
                    font-weight:600;
                }
            }
        }
    }

    .loading
    {
        height:678px;
    }

    .pagination
    {
        display: flex;
        justify-content: center;
        margin:0 0 40px 0;
    }
}
