@import 'include-media.scss';

$breakpoints: (small: 320px, medium: 768px, large: 1024px);

$theme-colors:
(
    'primary': #000,
    'secondary': #EBEFEF,
    'highlight': #0B78FC,
    'highlight-hover': #3C95FB
);

$themes: 
(
    light: 
    (
        bg: #FFF,
        headerBg: #FFF,
        themeToggleFill: #000,
        themeToggleFillHover: #333,
        headerLogoFill: #212121,
        menuTextColor: #000,
        headerBorder: #EBEFEF,
        heading: #000,
        inputBorder: #EBEFEF,
        input: #000,
        inputPlaceholder: #AAA,
        buttonSelected: #EBEBEB,
        buttonHover: #F6F6F6,
        text: #000,
        darkDisplayToggle: block,
        lightDisplayToggle: none,
    ),
    dark: 
    (
        bg: #111,
        headerBg: #222,
        themeToggleFill: #FFF,
        themeToggleFillHover: #CCC,
        headerLogoFill: #FFF,
        menuTextColor: #FFF,
        headerBorder: #333,
        heading: #FFF,
        inputBorder: #333,
        input: #FFF,
        inputPlaceholder: #444,
        buttonSelected: #555,
        buttonHover: #444,
        text: #FFF,
        darkDisplayToggle: none,
        lightDisplayToggle: block,
    )
);

@mixin themify($global: true, $themes: $themes) 
{
    @each $theme, $map in $themes 
    {
        $selector: '';
        @if $global
        {
            $selector: ':global(.theme-#{$theme})';
        }
        @else
        {
            $selector: '.theme-#{$theme}';
        }

        #{$selector} & 
        {
            $theme-map: () !global;
            @each $key, $submap in $map 
            {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) 
{
    @return map-get($theme-map, $key);
}